<div class="container-max">
          <div class="block-content about-02">
            <div class="img_about-large"><img src="{{ 'Screen-Shot-2025-06-07-at-12.22.41-PM-1_1.avif' | asset_url }}" loading="lazy" alt="" class="img-inner-standard"></div>
            <div class="about-block-right">
              <div class="text-huge">We are here to change the way people view hair products</div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "About Graphic",
    "class": "section about",
    "presets": [
        {
            "name": "About Graphic",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}