<div class="container-max">
          <div class="block-content">
            <div>
              <div class="eyebrow-text">THE HAIRCANDY STORY</div>
              <h1 class="heading-style-h1 smaller">Born out of genuine love for hair</h1>
            </div>
            <div class="pg-wrap">
              <p class="pg text-white">Hair Candy all began from a small concept of, how we care for you and your hair. With over 15 years of experience and research combined, Our beautiful product was born.</p>
              <p class="pg text-white">Hair Candy was born out of genuine love for hair and maximising hair health. A passion that overflowed from a hairstylist's love for hair and creating Natural products which are care for you and the environment. <br></p>
              <p class="pg text-white">Tuscany, the founder saw that there was a need product like Hair candy, as we are always caring for other elements of our body so its time to care for you hair. Hair candy is a proven remedy which gives result time & time again.</p>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "About Intro",
    "class": "section about",
    "presets": [
        {
            "name": "About Intro",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}