<div class="spacer-medium"></div>
        <div class="container-max">
          <h1 class="heading-style-h1 smaller">Hair Candy is not just a hair product. <br>we are your scalps best friend.</h1>
        </div> {% schema %} {
    "tag": "section",
    "name": "Collection Hero",
    "class": "section hero-filters",
    "presets": [
        {
            "name": "Collection Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}