<div class="container-max">
          <h1 li-object="page.title" class="heading-style-h1 text-darkest">{{ page.title }}</h1>
          <div class="spacer-small"></div>
          <div li-object="page.content" class="rt-default w-richtext">{{ page.content }}</div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Deafault",
    "class": "section default",
    "presets": [
        {
            "name": "Deafault",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "page"
        ]
    }
} {% endschema %}