<div class="container-max">
          <div class="container_faq">
            <div class="faq-wrapper">
              <div class="faq-trigger">
                <div>What are the key ingredients in hair candy?</div>
              </div>
              <div class="faq-content">
                <div class="rt_faq w-richtext">
                  <p>Hair Candy is made in New Zealand using all natural ingredients, no animal testing. </p>
                  <p>‍</p>
                  <p>Our key ingredient is 100% natural keratin derived from New Zealand sheep wool. Your hair skin and nails already has keratin to help keep it healthy and grow, the keratin  use is as close to human keratin you can get. </p>
                  <p>‍</p>
                  <p>The way the keratin is extracted from the sheep wool, it is keep fully intact in its purest form, therefore you are getting the full benefits from the keratin protein in our product. </p>
                  <p>‍</p>
                  <p>Keratin is proven to strengthen the hair preventing 85% less breakage, making the hair shiner, healthier, thicker, and assists hair growth. </p>
                  <p>‍</p>
                  <p>Hydrolysed keratin is another ingredient we use in hair candy, Oxidized Keratin attaches to the fibre with a non-covalent bonding mechanism resulting in 20 percent stronger hair fibre. </p>
                  <p>‍</p>
                  <p>Hair candy protects your hair from UV rays, pollution, colour damage, heat damage.</p>
                </div>
              </div>
            </div>
            <div class="faq-wrapper">
              <div class="faq-trigger">
                <div>How to use hair candy?</div>
              </div>
              <div class="faq-content">
                <div class="rt_faq w-richtext">
                  <p>Hair Candy is made in New Zealand using all natural ingredients, no animal testing. </p>
                  <p>‍</p>
                  <p>Our key ingredient is 100% natural keratin derived from New Zealand sheep wool. Your hair skin and nails already has keratin to help keep it healthy and grow, the keratin  use is as close to human keratin you can get. </p>
                  <p>‍</p>
                  <p>The way the keratin is extracted from the sheep wool, it is keep fully intact in its purest form, therefore you are getting the full benefits from the keratin protein in our product. </p>
                  <p>‍</p>
                  <p>Keratin is proven to strengthen the hair preventing 85% less breakage, making the hair shiner, healthier, thicker, and assists hair growth. </p>
                  <p>‍</p>
                  <p>Hydrolysed keratin is another ingredient we use in hair candy, Oxidized Keratin attaches to the fibre with a non-covalent bonding mechanism resulting in 20 percent stronger hair fibre. </p>
                  <p>‍</p>
                  <p>Hair candy protects your hair from UV rays, pollution, colour damage, heat damage.</p>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "FAQ Section",
    "class": "section about",
    "presets": [
        {
            "name": "FAQ Section",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}