<div class="spacer-medium"></div>
        <div class="container-max">
          <div class="block-content">
            <div>
              <div class="eyebrow-text">Frequently asked questions</div>
              <h1 class="heading-style-h1 smaller faq-heading">100% natural keratin derived from New Zealand sheep wool. <br><br>Hair Candy is made in New Zealand using all natural ingredients, no animal testing.</h1>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "FAQ Hero",
    "class": "section about faq",
    "presets": [
        {
            "name": "FAQ Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}