<div class="tophero_content">
            <div class="img_tophero"><img src="{{ 'hero-jar_1.avif' | asset_url }}" loading="lazy" data-w-id="cba507ef-2d63-b264-d6fd-ed934501de6e" sizes="(max-width: 1289px) 100vw, 1289px" alt="" srcset="{{ 'hero-jar_1hero-jar.avif' | asset_url }} 500w, {{ 'hero-jar_1.avif' | asset_url }} 1289w" class="img_hero-jar"></div>
            <div class="text-align-center">
              <h2 class="heading-style-h2 top-hero">Enter the world of hair candy</h2>
              <div class="spacer-small"></div>
              <div class="button-group">
                <a href="#" class="button w-button">Shop now</a>
                <a href="#" class="button pink dark w-button">About us</a>
              </div>
            </div>
          </div> {% schema %} {
    "tag": "div",
    "name": "Hero",
    "class": "section top-hero",
    "presets": [
        {
            "name": "Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}