<div class="tophero_content">
            <div class="img_tophero"><img src="{{ 'hero-jar_1.avif' | asset_url }}" loading="lazy" sizes="(max-width: 1289px) 100vw, 1289px" srcset="{{ 'hero-jar_1hero-jar.avif' | asset_url }} 500w, {{ 'hero-jar_1.avif' | asset_url }} 1289w" alt="" class="img_hero-jar"></div>
            <h2 class="heading-style-h2 top-hero">Enter the world of hair candy</h2>
          </div> {% schema %} {
    "tag": "div",
    "name": "Hero",
    "class": "section top-hero",
    "presets": [
        {
            "name": "Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}