<div class="container-max">
          <div class="block-content about-bio">
            <div class="img_about-bio"><img src="{{ 'Screen-Shot-2025-06-07-at-12.22.55-PM-1_1.avif' | asset_url }}" loading="lazy" alt="" class="img-inner-standard"></div>
            <div class="about-block-right">
              <h3 class="subheading-standard">Meet tuscany</h3>
              <p class="pg smaller">New Zealand entrepreneur, beauty, fashion and Sports enthusiast Tuscany Hamel was inspired to create a range of products that provide benefits to peoples overall health of there hair, mind and body.Where it all started, was after Tuscany having a very successful early start of her career as a professional tennis player playing on the junior world circuit. But unfortunately, after a fews years of back to back injuries made her having to change course. Growing up with two very successful Hair salon/stylists ownersTo stay updated on all things Tuscany and sneak peeks to Hair Candy go check her Instagram out here:<br></p>
              <a href="#" class="ig-link-about">@tuscanyhamel</a>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Meet Tuscany",
    "class": "section about",
    "presets": [
        {
            "name": "Meet Tuscany",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}