<div class="container-max">
          <div class="block-content about-bio">
            <div class="about-block-right">
              <h3 class="subheading-standard">Meet the creative director</h3>
              <p class="pg smaller">Gen Z Serial Entrepreneur and Creative from NZ living abroad most of his life in New York and LA. Previously working for Adidas and now working within the Music, fashion and design industries. Also leading and creating multiple NFT/ 3D based content and projects.<br></p>
              <a href="#" class="ig-link-about">@halfofnothing</a>
            </div>
            <div class="img_about-bio"><img src="{{ 'Screen-Shot-2025-06-07-at-12.23.04-PM-1_1.avif' | asset_url }}" loading="lazy" alt="" class="img-inner-standard"></div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Meet Blue",
    "class": "section about",
    "presets": [
        {
            "name": "Meet Blue",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}