<div class="container-max">
          <div class="block-content">
            <div>
              <div class="eyebrow-text">THE HAIRCANDY STORY</div>
              <h1 class="heading-style-h1 smaller">Who are we?</h1>
            </div>
            <div class="pg-wrap">
              <p class="pg text-white">HAIR CANDY is a brand built off three factors of LOVE: Hair, People's overall health & well-being, and Our Planet.</p>
              <p class="pg text-white">Our founder, entrepreneur Tuscany Hamel, daughter of the world-renowned hairstylist Mike Hamel, started Hair Candy back in 2015.  But After selling out multiple times over, Hair Candy had become to big to handle on her own. This time round we have a team of people on board to bring the beloved Hair Candy back to you.<br></p>
              <p class="pg text-white">Hair Candy products weren’t just created overnight. Over 15 years of trials, testing and research our products have been crafted and touched over a quarter of million heads, we have carefully created products that truly deliver results time and time again.</p>
              <p class="pg text-white">Our product is all <strong>New Zealand made</strong> and created, using all natural and locally sourced pure keratin derived from NZ sheep wool.</p>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Who are we",
    "class": "section about",
    "presets": [
        {
            "name": "Who are we",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}